{% extends '_base.html' %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        {% for key,value in planning.DAYS.iteritems() %}
        <div class="col-sm-2 frame">
          <div class="day">{{value.day_of_week}}</div>
          <div class="date">{{value.date_str}}</div>
          <div class="show">Anchors</div>
          {% for item in value.anchors %}
              <div class="{{item.status}} segment">
                <div class="story">{{item.story_slug}}{% if item.initials %}: {{item.initials}} {% else %}- {{item.cast}}{% endif %}</div>
              </div>
          {% endfor %} 
          <div class="show">Features</div>
          {% for item in value.features %}
              <div class="{{item.status}} segment">
                <div class="story">{{item.story_slug}}{% if item.initials %}: {{item.initials}} {% else %}- {{item.cast}}{% endif %}</div>
              </div>
          {% endfor %} 
          <div class="show">Assignments</div>
          {% for item in value.cast_items %}
              <div class="{{item.status}} segment">
                <div class="story">{{item.story_slug}}{% if item.initials %}: {{item.initials}} {% else %}- {{item.cast}}{% endif %}</div>
              </div>
          {% endfor %} 
          </div>
        {% endfor %}
        <div class="col-sm-2 frame">
          <div class="day">Features</div>
          {% for feature in planning.FEATURES %}
            <div class="{{feature.status}} segment">
              <div class="story">{{feature.date}}: {{feature.story_slug}} - {{feature.initials}}</div>
            </div>
          {% endfor %}
        </div>
  </div>
</div>

{% endblock content %}

{% block extra_foot %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

{% endblock extra_foot %}