{% extends '_base.html' %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- <div class="col-sm-1 frame"></div> -->
        {% for key,value in showboards.DAYS.iteritems() %}
        {% if loop.index in [2,3,4] %}
        <div class="col-sm-4 frame">
          <div class="day {% if loop.index == 2 %}today{% endif %}">{{value.day_of_week}} <span class="date">{{value.date_str}}</span></div>
            <div class="show">Morning Shift</div>
            {% for segment in value.shows.MS %}
              <div class="{{segment.status}} segment">
                <div class="story">{% if segment.story_slug %}{{segment.story_slug}}: {% endif %}{% if segment.initials %}{{segment.initials}}{% endif %}</div>
              </div>
            {% endfor %}
            <div class="show">World View</div>
            {% for segment in value.shows.WV %}
              <div class="{{segment.status}} segment">
                <div class="story">{% if segment.story_slug %}{{segment.story_slug}}: {% endif %}{% if segment.initials %}{{segment.initials}}{% endif %}</div>
              </div>
            {% endfor %}
        </div>
        {% if loop.index is divisibleby 3 %}

          <div class="clearfix"></div>
          <div class="col-sm-1 frame"></div>

        {% endif %}
    {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock content %}

{% block extra_foot %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

{% endblock extra_foot %}